<div class="about-container">
    <div class="about-mission">
        <h2> <hr> Our Mission <hr></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, praesentium facilis! Minima nesciunt suscipit ipsam aliquam, qui vel rerum temporibus soluta deleniti hic labore nemo facilis magni voluptatum, nostrum architecto?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero excepturi iste minus, alias ipsam odio vel totam rem quia facere sapiente inventore cumque debitis tempora asperiores, obcaecati modi officiis iure.

        </p>
    </div>
    <div class="about-about">
        <h2> About</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio laboriosam, laudantium cupiditate rem eveniet at quae officiis ut accusantium animi nihil! Expedita iure autem ipsam impedit non culpa obcaecati enim.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, accusamus cum! Dolorum iure obcaecati laborum sit ullam illo sed et iste, eligendi corporis placeat repellendus, aliquam porro ratione expedita omnis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam eum natus optio quia expedita tempore. Saepe similique excepturi nisi tempore magni quaerat, asperiores, aspernatur quod perferendis in veniam ducimus cumque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, natus esse quam eveniet dolorem deleniti repellat nostrum at? Deserunt ratione culpa modi accusantium magnam cumque quod eligendi eos nihil neque.

        </p>
    </div>
    <div class="about-crew">
        <h2>Our Crew</h2>
        <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. assumenda a unde reiciendis est quae quos ab similique quas?</h6>
        <div class="crew-images">
            <div class="crew-details">
            <img src="/images/crew.jpeg" alt="">
            <div class="crew-info">
                <h3><hr> Shri Om Tyagi</h3>
                <h5>Product Manager and Designer</h5>
            </div>
        </div>
        <div class="crew-details">
            <img src="/images/crew.jpeg" alt="">
            <div class="crew-info">
                <h3> <hr> Shri Om Tyagi</h3>
                <h5>Product Manager and Designer</h5>
            </div>
        </div>
        <div class="crew-details">
            <img src="/images/crew.jpeg" alt="">
            <div class="crew-info">
                <h3><hr> Shri Om Tyagi</h3>
                <h5>Product Manager and Designer</h5>
            </div>
        </div>
        </div>
    </div>
</div>