<div class="col-md-10 offset-md-1 col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/checkout/information">Information</a></li>
            {{#if @root.session.customerPresent}}
            <li class="breadcrumb-item" aria-current="page"><a href="/checkout/shipping">Shipping</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/checkout/payment">Payment</a></li>
            {{else}}
            <li class="breadcrumb-item text-muted" aria-current="page">Shipping</li>
            <li class="breadcrumb-item text-muted" aria-current="page">Payment</li>
            {{/if}}
        </ol>
    </nav>
    <div class="row">
        {{#if paymentMessage}}
        <div class="col-sm-12">
            <p class="text-danger text-center">{{paymentMessage}}</p>
        </div>
        {{/if}}
        <div class="col-12 col-md-5 bottom-pad-15">
            <div class="card top-marg-15">
                <div class="card-body customer-details-login">
                    
    <div class="frame">
    <div class="nav">
      <ul>
        <li class="signin-active"><a class="btn1">Sign in</a></li>
        <li class="signup-inactive"><a class="btn1">Sign up </a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
                        <form class="form-signin" action="" method="post" name="form">
          <span class="la">Phone Number</span>
        
          <input class="form-styling" type="text" name="password" placeholder=""/>
       
          <div class="btn1-animate">
            <a class="btn1-signin">Get An OTP</a>
          </div>
                        </form>
        
                        <form class="form-signup" action="" method="post" name="form">
          <span class="la">Full name</span>
          <input class="form-styling" type="text" name="fullname" placeholder=""/>
          <span class="la">Address</span>
          <input class="form-styling" type="text" name="email" placeholder=""/>
          <span class="la">Phone Number</span>
          <input class="form-styling" type="text" name="password" placeholder=""/>
          <span class="la">Order Comments</span>
          <input class="form-styling" type="text" name="confirmpassword" placeholder=""/>
          <a ng-click="checked = !checked" class="btn1-signup">Sign Up</a>
                        </form>
      
            <div  class="success">
              <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 60 60" id="check" ng-class="checked ? 'checked' : ''">
                 <path fill="#ffffff" d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314
                  c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042
                  c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />
                <div class="successtext">
                   <p> Thanks for signing up!</p>
                </div>
             </div>
      </div>
      
      <div class="forgot">
        <a href="#" class="resend">Resend An OTP</a>
      </div>
      <div>
      <h1 class="welcome">Welcome, Chris</h1>
        <a class="btn-goback" value="Refresh" onClick="history.go()">Go back</a>
        <input class="form-styling" type="text" name="password" placeholder=""/>
      </div>
     
  </div>
    
  
   









                </div>
            </div>
        </div>
        <div class="col-md-7 d-none d-sm-block" id="cart">
            {{> (getTheme 'cart')}}
            {{#if @root.session.cart}}
            <div class="row">
                <div class="col-sm-12 {{showCartButtons @root.session.cart}} cart-buttons">
                    <button class="btn btn-danger float-right" id="empty-cart" type="button">{{ @root.__ "Empty cart" }}</button>
                </div>
            {{/if}}
            </div>
        </div>
    </div>
</div>