<div class="log"> 
  <div class="content">
 
        <div class="text">Login Form</div>
        <form action="#">
        <div class="field">
          <span class="fas fa-user"></span>
          <input type="text" required>
          <label>Email or Phone</label>
        </div>
        <div class="field">
          <span class="fas fa-lock"></span>
          <input type="password">
          <label>Password</label>
        </div>
      
        <button class="b1">Sign in</button>
        <div class="signup">Not a member?
          <a href="#">Signup now</a>
        </div>
      </form>
  </div>
</div>

