<div class="privacy-container">
    <div class="privacy-header">
        <h2>
            <span>Privacy Policy</span>
        </h2>
        <p>
            Please read this privacy policy carefully to understand our practices regarding your personal data and how we will treat it. We has a focus on both privacy and security. 
            We recognize that the information being held by us is sensitive and it is treated as such. This privacy policy, together with the terms and conditions and Cookie Policy, sets out the basis on which any personal data we collect from you, or that you provide to us will be
            processed by us. By accessing and/or using the Platform, you are accepting and consenting to the practices described in this policy. At our Website, we collect and manage user data according to the following Privacy Policy.
        </p>
    </div>
    <div class="privacy-content">
        <div class="privacy-item">
            <h3><span>Introduction</span></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio laboriosam, laudantium cupiditate rem eveniet at quae officiis ut accusantium animi nihil! Expedita iure autem ipsam impedit non culpa obcaecati enim.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, accusamus cum! Dolorum iure obcaecati laborum sit ullam illo sed et iste, eligendi corporis placeat repellendus, aliquam porro ratione expedita omnis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam eum natus optio quia expedita tempore. Saepe similique excepturi nisi tempore magni quaerat, asperiores, aspernatur quod perferendis in veniam ducimus cumque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, natus esse quam eveniet dolorem deleniti repellat nostrum at? Deserunt ratione culpa modi accusantium magnam cumque quod eligendi eos nihil neque.</p>
        </div>
        <div class="privacy-item">
            <h3><span>Introduction</span></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio laboriosam, laudantium cupiditate rem eveniet at
                quae officiis ut accusantium animi nihil! Expedita iure autem ipsam impedit non culpa obcaecati enim.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, accusamus cum! Dolorum iure obcaecati
                laborum sit ullam illo sed et iste, eligendi corporis placeat repellendus, aliquam porro ratione expedita omnis.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam eum natus optio quia expedita tempore. Saepe
                similique excepturi nisi tempore magni quaerat, asperiores, aspernatur quod perferendis in veniam ducimus
                cumque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, natus esse quam eveniet dolorem deleniti
                repellat nostrum at? Deserunt ratione culpa modi accusantium magnam cumque quod eligendi eos nihil neque.</p>
        </div>
        <div class="privacy-item">
            <h3><span>Introduction</span></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio laboriosam, laudantium cupiditate rem eveniet at
                quae officiis ut accusantium animi nihil! Expedita iure autem ipsam impedit non culpa obcaecati enim.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, accusamus cum! Dolorum iure obcaecati
                laborum sit ullam illo sed et iste, eligendi corporis placeat repellendus, aliquam porro ratione expedita omnis.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam eum natus optio quia expedita tempore. Saepe
                similique excepturi nisi tempore magni quaerat, asperiores, aspernatur quod perferendis in veniam ducimus
                cumque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, natus esse quam eveniet dolorem deleniti
                repellat nostrum at? Deserunt ratione culpa modi accusantium magnam cumque quod eligendi eos nihil neque.</p>
        </div>
    </div>
</div>