.widget-links img {
  width: 150px;
}

.nav-top {
  margin-top: 80px;
}

@media screen and (min-width: 992px) {
  .nav-top {
    margin-top: 135px;
  }
}

.quantityMinus {
  margin: 0 15px;
}

.cart-delete .close {
  padding: 15px;
  padding-left: 10px;
  background-color: #FE696A;
}

.close .czi-trash {
  color: white;
}